h1 {
    color: rgb(60, 84, 38);
    text-align: center;
    position: relative;
    top: 200px;
    left: 5px;
}

* {
    font-family:'Fantasy','Papyrus';
}

body {
    background-image: url(background-pic.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

ul {
    position: relative;
    top: 260px;
    left: 710px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    font-size: larger;
}

.style-link {
    display: block;
    width: fit-content;
}

.style-title {
    margin-block: 15px;
    padding: 30px;
    background-color: rgb(39, 71, 3, 0.5);
}
