h1 {
    color:rgb(193, 144, 59);
    text-align: center;
}

h3 {
    color: rgb(245, 226, 182);
}

* {
    font-family:'Fantasy','Papyrus';
    color: whitesmoke;
}

p {
    margin: auto;
}

ul {
    display: block;
    width: 250px;
    height: 100px;
    padding: 5px;
}

.flex-items {
    display: grid;
    grid-template-columns: auto auto;
}

.ingredients {
    margin: 0;
    margin-left: auto;
    padding: 5px;
}

.steps {
    /* margin: 40px;
    margin-left: 100px; */
    margin: 0 auto;
    padding: 5px;
}

body {
    background-image: url('./wooden-bg.jpeg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: auto;
    padding: 5px;
}

li {
    background-color: rgb(30, 33, 36, 0.6);
}