body {
    background-image: url('./images//bg-pic.jpeg');
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: antiquewhite;
    margin: 50;
    text-align: center;
    padding: 50px;
}

.heading {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    border: solid rgb(71, 65, 68);
}

#humanScore, #computerScore {
    font-size: xx-large;
    text-align: center;
    color: antiquewhite;
    margin: 10px;
    padding: 5px;
} 

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.humanSelection, .computerSelection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

button {
    margin: 10px;
    padding: 10px;
    border: solid rgb(71, 65, 68);
}

.whoWon {
    text-align: center;
}

#restart {
    border-radius: 50%;
}

.restartDiv {
    text-align: center;
    margin: 20px;
}

.rock:hover, .paper:hover, .scissors:hover, #restart:hover {
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}

.rock:focus, .paper:focus, .scissors:focus {
    border: 5px solid #b1da0b;
    box-shadow: 0 0 10px #b1da0b;
}

/* #c-rock:focus, #c-paper:focus, #c-scissors:focus {
    background-color: rgba(222, 116, 246, 0.62);
} */